<div class="row my-5">
    <div class="col">
        <h1 class="text-center mb-5">사용자목록</h1>
        <div id="div_users"></div>
    </div>
</div>
<!--사용자목록 템플릿-->
<script id="temp_users" type="x-handlebars-template">
    <table class="table table-striped">
        {{#each .}}
        <tr>
            <td>{{uid}}</td>
            <td>{{uname}}</td>
            <td>{{phone}}</td>
            <td>{{adress1}}</td>
        </tr>    
        {{/each}}
    </table>
</script>
<script>
    getUsers();
    function getUsers(){
        $.ajax({
            type:"get",
            url:"/users/list.json",
            success:function(data){
                console.log(data);
                const temp=Handlebars.compile($("#temp_users").html());
                $("#div_users").html(temp(data));
            }
        });
    }
</script>