<style>
    form span {
        width:100px;
    }
</style>
<div class="row my-5 justify-content-center">
    <div class="col-md-6 col-lg-4">
        <h1 class="text-center mb-3">로그인</h1>
        <form name="frm" class="card p-3">
            <div class="input-group mb-3">
                <span class="input-group-text">아이디</span>
                <input name="uid" class="form-control">
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text">비밀번호</span>
                <input name="upass" class="form-control" type="password">
            </div>
            <button class="btn btn-primary w-100">로그인</button>
        </form>
    </div>
</div>
<script>
    $(frm).on("submit", function(event){
        event.preventDefault();
        //유효성체크
        const uid=$(frm.uid).val();
        const upass=$(frm.upass).val();
        if(uid==""){
            alert("아이디를 입력하세요!");
            $(frm.uid).focus();
        }else if(upass=="") {
            alert("비밀번호를 입력하세요!");
            $(frm.upass).focus();
        }else{
            //로그인체크작업
            $.ajax({
                type:"post",
                url:"/users/login",
                data:{uid: uid, upass:upass},
                success:function(data){
                    if(data.result==2){
                        alert("비밀번호가 일치하지 않습니다.")
                    }else if(data.result==0) {
                        alert("아이디가 존재하지 않습니다.");
                    }else{
                        alert("로그인에 성공했습니다.");
                        sessionStorage.setItem("uid", uid);
                        location.href="/";
                    }
                }
            });
        }
    });
</script>